<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--每天餐补-->
    <add key="MealSupplement" value="5"/>
    
    <!--迟到时间  小时-->
    <add key="LateHour" value="8"/>
    <!--迟到时间  分钟-->
    <add key="LateMin" value="30"/>
    
    <!--下班时间  小时-->
    <add key="EarlyHour" value="17"/>
    <!--下班时间  分钟-->
    <add key="EarlyMin" value="30"/>

    <!--工作日小加班时间 小时-->
    <add key="SmallWorkhour" value="19"/>
    <!--工作日小加班时间 分钟-->
    <add key="SmallWorkMin" value="30"/>
    <!--工作日小加班  补贴（元）-->
    <add key="SmallWorkMoney" value="5"/>


    <!--工作日中加班时间 小时-->
    <add key="MiddleWorkHour" value="20"/>
    <!--工作日中加班时间 分钟-->
    <add key="MiddleWorkMin" value="30"/>
    <!--工作日中加班  补贴（元）-->
    <add key="MiddleWorkMoney" value="20"/>

    <!--工作日大加班时间 小时-->
    <add key="BigWorkHour" value="22"/>
    <!--工作日中加班时间 分钟-->
    <add key="BigWorkMin" value="30"/>
    <!--工作日大加班  补贴（元）-->
    <add key="BigWorkMoney" value="40"/>

    <!--周末小加班小时数-->
    <add key="WeekSmallWork" value="3"/>
    <!--周末小加班  补贴（元）-->
    <add key="WeekSmallWorkMoney" value="25"/>

    <!--周末大加班小时数-->
    <add key="WeekBigWork" value="6"/>
    <!--周末大加班  补贴（元）-->
    <add key="WeekBigWorkMoney" value="50"/>
  </appSettings>
</configuration>